@import url("https://fonts.googleapis.com/css?family=Kalam:700");
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@responsive {
  .w-3\/10 {
    width: 30%;
  }
}

body {
  @apply .bg-black-true;
}

.links-social {
  @apply .text-xl .px-2;
}

.navbar-bg {
  background-color: #000000d6;
}

.css-5t0jx6 {
  background-color: #2c4873 !important;
}

.player-top {
  top: -16.82% !important;
}

.text-desc-color {
  color: rgb(189, 189, 189);
}

.logo {
  font-family: Kalam;
  font-size: 28px;
  line-height: 16px;
  padding-top: 6px;
}

.menu-item {
  padding: 8px 0;
  border: 1px solid #333333bf;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.section-page-title {
  font-size: 24px;
}
